<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxtP1xvkv1N2rNm4oMcec9Fc2nfxA9Aww</string>
	<key>GCM_SENDER_ID</key>
	<string>499892163089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApps</string>
	<key>PROJECT_ID</key>
	<string>mymovieapp-44545</string>
	<key>STORAGE_BUCKET</key>
	<string>mymovieapp-44545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499892163089:ios:7df4894d6d025bb53157b0</string>
</dict>
</plist>